<!-- @extends('layouts.app') -->

<!-- @section('content') -->
<div class="jumbotron">
    {'route' => 'miskito'}

    <div class="form-group">
        <label for="exampleInputEmail1">Miskito</label>
        <select-combustibles 
        url="/api-app/miskito" 
        nombre="miskito_id" 
        label="miskito" />
    </div>
<!-- 
    {{-- <div class="form-group">
        <label for="exampleInputEmail1">Precio</label>
        <select-combustibles 
        url="/api-app/sexos" 
        nombre="sexo_id" 
        label="sexo_full" />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Sabor</label>
        <select-combustibles 
        url="/api-app/cooperativas" 
        nombre="cooperativa_id" 
        label="cooperativa" />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Tamaño</label>
        <select-combustibles 
        url="/api-app/barrios" 
        nombre="barrio_id" 
        label="barrio" />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Etnias</label>
        <select-combustibles 
        url="/api-app/etnias" 
        nombre="etnia_id" 
        label="etnia" />
    </div>


    {!! Form::submit('Guardar') !!}
    {!! Form::close() !!} --}} -->

</div>
@endsection
